*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    background-color: rgb(188, 186, 186);
}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    /* width: 80%; */
    margin: 60px auto 0;
}
.card{
    display: flex;
    flex-direction: column;
    width: 423px;
    margin: 40px auto;
    overflow-wrap: break-word;
}
img{
    width: 40px;
    border-radius: 50%;
}
.channelDetails{
    display: flex;
    align-items: center;
}
h3{
    margin-left: 10px;
}